.Form {
  z-index: 15;
  position: relative;
  background: #ffffff;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
  padding: 60px;
  box-sizing: border-box;
}

.Form header {
  margin: 0 0 40px;
}

.Form header h1 {
  padding: 4px 0;
  color: #4169b1;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

@media (max-width: 600px) {
  .Form {
    margin: 0;
    width: 300px;
  }
}

.SubmitButton {
  outline: none;
  background: #4169b1;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
