.BackgroundWindow {
  color: white;
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* for IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* for Safari */
}