* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(39, 37, 37);
  background: #f9f9f9;
  position: relative;
}

.header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid #eee;
  background: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid #eee;
}

.Previous {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 1em;
  justify-content: flex-start;
  text-align: left;
}

.Month {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  text-align: center;
}
.Next {
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 1em;
  justify-content: flex-end;
  text-align: right;
}

.Day {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  justify-content: center;
  text-align: center;
}
.Days {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Cell {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  position: relative;
  height: 5em;
  border-right: 1px solid #eee;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  transition: 0.25s ease-out;
}

.Cell:hover {
  background: #f9f9f9;
  transition: 0.5s ease-out;
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.Disabled {
  color: gray;
  pointer-events: none;
}

.Selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.Number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.DaysRow {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
