.AllDaysContainer {
	overflow-y: scroll;
	height: 55vh;
}
.DaysRow {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.Cell {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
	position: relative;
	height: 10em;
	border-right: 1px solid #eee;
	overflow: hidden;
	cursor: pointer;
	background: #fff;
}

.Cell:hover {
	background: #f9f9f9;
	transition: 0.5s ease-out;
	flex-grow: 0;
	flex-basis: calc(100% / 7);
	width: calc(100% / 7);
	transition: 0.25s ease-out;
}
.Today {
	color: #1a8fff;
}
.Disabled {
	color: gray;
	pointer-events: none;
}
.Selected {
	border-left: 10px solid transparent;
	border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
	border-image-slice: 1;
	flex-grow: 0;
	flex-basis: calc(100% / 7);
	width: calc(100% / 7);
	transition: 0.25s ease-out;
	cursor: default;
}
.Selected div {
	color: #1a8fff;
	opacity: 1;
}

.Container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-auto-rows: 33% 33% 33%;
	grid-template-areas:
		"button button button number"
		"active active active active"
		"active active active active";
}
.Container > * {
	align-items: center;
	text-align: center;
	padding: 1px;
	margin: 1px;
}
.Container .Number {
	font-size: 15px;
	font-weight: 700;
	transition: 0.25s ease-out;
	grid-area: number;
}
.Activity {
	grid-area: active;
}

@media (max-width: 650px) {
	.AllDaysContainer {
		display: flex;
		flex-direction: column;
		height: auto;
		overflow-y: initial;
	}
	.DaysRow {
		flex-direction: column;
		flex-flow: column wrap;
	}
	.Cell {
		flex-basis: 100%;
		width: 100%;
		height: 30vh;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		transform: none;
	}
	.Cell:hover {
		transition: none;
		flex-basis: 100%;
		width: 100%;
		height: 30vh;
	}
	.Selected {
		transition: none;
		flex-basis: 100%;
		width: 100%;
		height: 30vh;
	}
	.Disabled {
		display: none;
		pointer-events: none;
	}
}
