@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.Input {
	color: #4169b1;
	font-size: 12px;
	text-decoration: none;
	display: inline-block;
	width: auto;
	margin: 0 0 20px;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.Input h1 {
	padding: 4px 0;
	color: #4169b1;
	font-size: 24px;
	font-weight: 700;
	display: block;
	margin: 0 0 10px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.FormData {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 10px;
	outline: none;
	display: block;
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
	color: rgba(0, 0, 0, 0.6);
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
}

.FormData:focus {
	color: rgba(0, 0, 0, 0.8);
}

.FormData:hover {
	border: 1px solid rgba(29, 22, 22, 0.432);
}

.FormData:last-child {
	margin: 0;
}

.FormDataError {
	border: 1px solid rgba(226, 32, 32, 0.418);
}

.Input p {
	color: white;
	margin: 0;
	padding: 0;
}

.Input .ErrorMessage {
	color: red;
}

.displayOnly {
	pointer-events: none;
}

.FilledInput .FormData,
.Suffix .FormData,
.displayOnly .FormData {
	width: 50%;
}

.FilledInput,
.Suffix,
.displayOnly {
	text-align: center;
	margin: 0 0 2px;
}

.Suffix h1,
.FilledInput h1,
.displayOnly h1 {
	padding: 0px;
	text-align: left;
	text-transform: none;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	width: 45%;
	letter-spacing: 0.1em;
}

.FilledInput input,
.displayOnly input {
	background-color: white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px 0 solid rgba(0, 0, 0, 0.6);
	border-radius: 0%;
	font-size: 14px;
	text-align: right;
	padding: 0;
}

.Suffix input {
	background-color: white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px 0 solid rgba(0, 0, 0, 0.6);
	border-radius: 0%;
	font-size: 14px;
	text-align: right;
	padding: 0;
	padding-right: 20px;
}

.Suffix span {
	width: 32.81px;
	height: 32px;
	margin-left: -20px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 500;
	text-align: right;
}

.FilledInput input:focus,
.FilledInput input:hover,
.Suffix input:focus,
.Suffix input:hover {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px 0 solid rgba(0, 0, 0, 0.6);
	border-radius: 0%;
}

@media (min-width: 650px) {
	.FilledInput .FormData,
	.Suffix .FormData,
	.displayOnly .FormData {
		width: 35%;
	}
}
