.Toolbar {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1a8fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 150;
}

.Toolbar nav {
	height: 100%;
}

.Logo {
	height: 100%;
	position: absolute;
	left: 0;
	padding-left: 20px;
}

/* .ButtonIcon {
	cursor: pointer;
	display: inline-block;
	color: #1a8fff;
	font-size: 82.5%;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
} */

.ButtonIcon input[type="file"] {
	visibility: hidden;
	z-index: -10;
}
.ButtonIcon {
	font-size: 40px;
}
.ButtonIcon label {
	cursor: pointer;
	color: white;
}
@media (max-width: 650px) {
	/*check if we are on mobile devices */
	.Toolbar {
		height: 50px;
	}
	.DesktopOnly {
		display: none;
	}
	.Logo {
		position: relative;
	}
}
