.Toolbar {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1a8fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 150;
}

.Toolbar nav {
	height: 100%;
}

.Logo {
	height: 100%;
	position: absolute;
	left: 0;
	padding-left: 20px;
}

@media (max-width: 650px) {
	/*check if we are on mobile devices */
	.Toolbar {
		height: 50px;
	}
	.DesktopOnly {
		display: none;
	}
	.Logo {
		position: relative;
	}
}
