.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a8fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* 0 for top and bottom 20 for left and right */
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 100%;
  position: absolute;
  left: 0;
  padding-left: 20px;
}

@media (max-width: 499px) {
  /*check if we are on mobile devices */
  .DesktopOnly {
    display: none;
  }
  .Logo {
    position: relative;
  }
}
